/* Default styles */
.responsive-iframe {
  width: 1000px;
  height: 500px;
}

.video-content {
  /* Default styles specific to 'video' type */
  background-color:gray;
  color: black;
  position: absolute;
  left: 20px;
  top: 50px;
  margin-left: 10px;
}

.toc-content {
  text-align: left;
  padding-left: 150px;
}

@media only screen and (max-width: 499px) {
  .responsive-iframe {
    width: 350px;
    height: 300px;
  }

  .video-content {
    top: 50px;
    margin-left: 0px;
  }

  .toc-content {
    padding-left: 70px;
  }
}

@media only screen and (min-width: 500px) and (max-width: 599px) {
  .responsive-iframe {
    width: 500px;
  }

  .toc-content {
    padding-left: 70px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 750px) {
  .responsive-iframe {
    width: 600px;
  }
}

@media only screen and (min-width: 751px) and (max-width: 1024px) {
  .responsive-iframe {
    width: 750px;
  }
}

@media only screen and (min-width: 1025px) {
  .responsive-iframe {
    width: 1000px;
  }

  .video-content {
    padding-top: 50px;
    margin-left: 300px;
  }
}