/* Default settings for min-width: 1025px */
.calendar {
  background-color: white;
  color: black;
  position: absolute;
  top: 0px; 
  left: 40px; 
  margin-top: 30px;
  font-size: xx-small;
}

.buttonList {
  position: absolute;
  left: 40px;
  top: 150px;
}

.bgColorGreen {
  background-color: green;
}

.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  font-size: medium !important;
}

.hidden {
  display: none;
}

.pagination {
  background-color: aliceblue;
  position: fixed;
  bottom: 0;  
  width: 65%;
}

.button {
  font-size: x-large;
  width: 260px;       /* Calenterin kanssa sama pituus */
  text-align: center; /* Teksti keskelle */
}

.date-button {
  font-size: large;
}

.error-text-content {
  color: red;
  font:bold;
}

.container {
  text-align: center; /* Center the content horizontally */
  position: relative;
  width: 100%;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 50px;
 }

 .css-1yjjitx-MuiSwitch-track,
 .css-1ju1kxc {
  background-color: white !important;
 }

 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

@media only screen and (max-width: 499px) {
  /* Default settings for min-width: 1025px */
  .calendar {
    top: 60px; 
    left: 180px; 
  }

  .switch {
    margin-top: 270px;
  }

  .buttonList {
    left: 10px;
    top: 80px;
    font-size: x-large;
  }

  .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
    font-size: small !important;
  }

  .pagination {
    width: 95%;
  }

  .button {
    font-size: large;
    width: 160px; 
  }

  .date-button {
    font-size: large;
  }
   
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }
}

@media only screen and (min-width: 500px) and (max-width: 599px) {
  .pagination {
    width: 85%;
  }

  .calendar {
    top: 80px; 
    left: 260px; 
  }

  .switch {
    margin-top: 280px;
  }

  .buttonList {
    top: 100px;
    font-size: x-large;
  }

  .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
    font-size: small !important;
  }

  .button {
    font-size: large;
    width: 170px; 
  }

  .date-button {
    font-size: large;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }
}

@media only screen and (min-width: 600px) and (max-width: 750px) {
  .button {
    font-size: large;
    width: 170px; 
  }

  .date-button {
    font-size: large;
  }

  .pagination {
    width: 95%;
  }

  .calendar {
    top: 80px; 
    left: 260px; 
  }

  .switch {
    margin-top: 270px;
    margin-left: 10px;
  }

  .buttonList {
    top: 110px;
  }

  .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
    font-size: small !important;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }
}

@media only screen and (min-width: 751px) and (max-width: 1024px) {
  .pagination {
    width: 95%;
    margin-left: 20px;
  }

  .calendar {
    top: 100px; 
    left: 360px; 
  }

  .switch {
    margin-top: 270px;
    margin-left: 30px;
  }

  .buttonList {
    top: 130px;
    font-size: large;
  }

  .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
    font-size: small !important;
  }

  .button {
    width: 230px; 
  }

  .date-button {
    font-size: large;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }
}

@media only screen and (min-width: 1025px) {
 
}