/*Default settings for min-width: 1025px*/
.paper {
  padding: 16px;
  margin-top: 16px;
}

.chartContainer {
  width: 1200px;
  height: 700px;
}

@media only screen and (max-width: 499px) {
  .paper {
    margin-top: 160px;
  }

  .chartContainer {
    width: 350px;
    height: 300px;
  }
}

@media only screen and (min-width: 500px) and (max-width: 599px) {
  .paper {
    margin-top: 160px;
  }

  .chartContainer {
    width: 400px;
    height: 300px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 750px) {
  .paper {
    margin-top: 150px;
  }

.chartContainer {
    width: 550px;
    height: 300px;
  }
}

/* For screens between 601px and 1024px */
@media only screen and (min-width: 751px) and (max-width: 1024px) {
  .paper {
    margin-top: 160px;
  }

  .chartContainer {
    width: 750px;
    height: 300px;
  }
}

/* For screens larger than 1024px */
@media only screen and (min-width: 1025px) {
  /* Your CSS styles for large screens go here */
}